*.DS_Store
*.pt
ref/
env/
assets/
data/
data_normalized/
scRNA_norm/
artifacts/
__pycache__/
wandb/
models/diffusion.py.backup
compare_metrics.py
*.backup
*.pkl
*.whl
*.tsv
Muon/

# out dirs
checkpoints/
cell-eval-outdir/
cell-eval/
evals/
